:root {
  --bg-gray: #f4f4f4;
  --purple: #bdc0ff;
  --dark-purple: #aaa0ff;
}
.toggle-size {
  font-size: 28px;
}
.tdec {
  text-decoration: none;
}
.imgIcon {
  width: 42px;
  border-radius: 50%;
}
.imgIcon:hover {
  width: 48px;
  opacity: 0.8;
}
.bg-gray {
  background-color: var(--bg-gray);
}
.font-purple {
  color: var(--purple);
}
#Home,
#About,
#Projects,
#Contact {
  height: 100vh;
}
.center {
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
body {
  height: 100vh;
  align-items: center;
  background: var(--bg-gray) no-repeat center;
  background-size: cover;
}
/* button purple css */
.btn-purple {
  color: #000;
  width: 10rem;
  border-radius: 50px;
  background-color: var(--purple);
  border-color: var(--dark-purple);
}

.btn-purple:hover {
  color: #000;
  background-color: var(--dark-purple);
  border-color: var(--purple);
  padding-right: 25px;
}
.button:hover span,
.btnCheck:hover span {
  padding-right: 25px;
}
.button:hover span:after,
.btnCheck:hover span:after {
  opacity: 1;
  right: 0;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.6s;
}
.button span,
.btnCheck span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btnCheck span:after {
  content: "\2713";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.6s;
}

.btn-purple.disabled,
.btn-purple:disabled {
  color: #000;
  background-color: var(--purple);
  border-color: var(--dark-purple);
}

.btn-outline-purple {
  color: var(--purple);
  background-color: transparent;
  background-image: none;
  border-color: var(--purple);
}

.btn-outline-purple:hover {
  color: #222;
  background-color: var(--purple);
  border-color: var(--purple);
}

.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
  color: var(--purple);
  background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #000;
  background-color: var(--purple);
  border-color: var(--purple);
}
.icon {
  width: 5rem;
  margin: 1rem;
}
/* carousel */
/*  */
